.tabItem {
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 500;
  margin: 20px;
  cursor: pointer;
}

.tabItem-Active {
  background-color: transparent;
  /* border: none; */
  outline: none;
  color: #fec653;
  padding-bottom: 10px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 3px solid #fec653;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 500;
  margin: 20px;
  cursor: pointer;
}
